.buyRightContainer {
  flex: 1;
  margin-top: 30px;
  width: 880px;
  min-height: 600px;
  @media (max-width: 960px) {
    max-width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contentHtml {
    p {
      white-space: normal;
      margin-bottom: 0;
    }
  }
}
