.homeContentContainer {
  flex: 1;
  width: 740px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  // overflow-y: hidden;
  background: #fff;
  padding: 24px;
  height: calc(100vh - 128px);
  min-height: 800px;
  @media (max-width: 960px) {
    max-width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .trendingContainer {
    display: flex;
    .trendingLeft {
      margin-right: 8px;
    }
    .trendingRight {
      .tagBtn {
        margin-bottom: 8px;
        margin-right: 8px;
        display: inline-block;
        padding: 4px;
        background-color: #e6e6e6;
        border-radius: 5px;
        color: rgb(146, 146, 146);
        cursor: pointer;
        &:hover {
          background-color: #0045ff;
          color: #fff;
        }
      }
      .chooseTagBtn {
        background-color: #0045ff;
        color: #fff;
      }
    }
  }
  .contentHtml {
    word-break: break-word;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #3c3f56;
    cursor: pointer;
    img {
      max-width: 90%;
    }
  }
  .articleContainer {
    border-bottom: 1px solid #e3e4e8;
    .authorSty {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: #000;
      cursor: pointer;
      &:hover {
        color: #0045ff;
      }
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
