.homeLeftContainer {
  width: 200px;
  padding: 24px 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;
  height: 600px;
  @media (max-width: 960px) {
    margin: auto;
  }
  .title {
    font-size: 24px;
  }
}
